<table>
  <tr>
    <th>Recipe</th>
    <th>Position</th>
    <th>Name</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= render :partial => 'ingredients/ingredient', :collection => ingredients %>
</table>
